<header>
    <div class="container">
        <a href="#" class="logo-link" aria-label="Stats Home">
            <img src="~/img/blogo.svg" height="62" width="62" alt="Stats Logo" class="logo" asp-append-version="true" />
        </a>
        <nav>
            <ul>
                <li><a href="/register" class="register">Register</a></li>
                <li><a href="/login" class="login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>