<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Native Stats</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="#" class="logo-link" aria-label="Stats Home">
                @* <img src="C:\Users\Bokerman\Pictures\Blogo.png" alt="Stats Logo" class="logo"> *@
            </a>
            <nav>
                <ul>
                    <li><a href="/register" class="register">Register</a></li>
                    <li><a href="/login" class="login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Native Stats. All rights reserved.</p>
        </div>
    </footer>
    <script type="module" src="~/js/site.js"></script>
</body>
</html>
