<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - Soccer Stats</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <header>
        <nav>
            <!-- Add navigation for register and login -->
        </nav>
    </header>
    <div>
        <div style="display: flex; flex-direction: column; align-items: center; padding: 1rem;">
        <main>
            @RenderBody()
        </main>
        <my-custom-component></my-custom-component>
        <my-other-component></my-other-component>
    </div>

    <footer>
        <div>
            <p>Some footer</p>
        </div>
    </footer>

    <script type ="module" src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
